body{
    height: 100vh;
    width: 100vw;
    background: rgb(14,49,152);
    background: linear-gradient(90deg, rgba(14,49,152,1) 0%, rgba(5,10,78,1) 60%, rgba(10,4,70,1) 100%, rgba(0,212,255,0) 100%);

}

.cabeçalho{
    display: flex;
    background-color: #3e04a1;
    justify-content: space-around;
    padding: 24px;
}